.home{ 
    background-image: linear-gradient(to right, #22313F, #F4F4F4);

    background-repeat: no-repeat;
    background-size: cover;
      color:white;
      &_paragraph{
          height: 400px;
          overflow:hidden;
          overflow-y: auto;
          background-image: conic-gradient(red, yellow, green);
          border-style: outset;
          border: 7px inset;
          padding: 15px;
          margin-bottom: 30px;
        
      }
}