.wrapper{
    align-items:flex-start;
    display: flex;
    justify-content: center;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    height: 100vh;
   &_item{
     max-height: 650px;
    &_registration{
    align-items: center;
    background-color: #159671;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin: 32px;
    min-height: 350px;
    position: relative;
    width: 1176px;
    &_form{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-height: 250px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 140px;
    width: 300px;
    .onVisible-wrap{
        position: relative;
     .onVisible{
            position: absolute;
            top: 24px;
            right: 33px;
            cursor: pointer;
            &:hover{color: black;}
            font-size: 17px;
        }  } 
    .kirish{
    display: inline-block;
    border: radius 4px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #159678;
    color: #fff;
    text-align: center;
    padding: 5px;
    width: 150px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   border-radius: 8px;
   opacity: 0.6;
   &:hover{opacity: 1}
    &:hover span{
        padding-right: 25px;
    }
    &:hover span:after{
    opacity: 1;
    right: 0;
    }
    span{
        font-size: 17px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
     &:after{
        content: "\00bb"; 
        position:absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;   
     }
    }
    }
    .reset{
    font-style:normal;
    font-weight: normal;
    letter-spacing: 2px;    
    background: none;
    border: none;
    margin: 13px auto auto;
    padding: 0;
    color:rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    &:hover{
        text-decoration: none;
        color:black;
    }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            margin-bottom: 10px;
            align-items: center;
            // background: #F1F3F4;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border: none;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            margin: 20px;
            outline: none;
            text-align: center;
            width: 250px;
            padding:6px 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            &:focus{
                background-color: darkturquoise;
                color: white;
            }
        }
    }
    .enter{
        margin-bottom: 30px;
        margin-top: 20px;
    }
    }    
}
   }
}